@use "/src/variables" as *;

$colorDefault: light-dark($slate-grey, $pale-slate-2);
$colorActive: light-dark($carbon-black, $bright-snow);

.collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 30%;

  .collection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.3em 0.5em;
    color: $colorDefault;

    input[type="text"] {
      &.read {
        border: 1px solid $colorDefault;
        cursor: auto;
      }
      cursor: default;
      width: 100%;
      margin-left: 0.3em;
      background-color: transparent;
      color: inherit;
      border: 0;
    }

    &.active {
      border: 1px solid $colorDefault;
      border-left: none;
      color: $colorActive;
    }

    svg {
      width: 2em;
    }

    label {
      transform: rotate(-90deg);
      font-size: 0.5em;
    }

    .close {
      margin-left: auto;
      cursor: pointer;
      &:hover {
        background-color: $primary-scarlet;
        color: $bright-snow;
      }
      &:active {
        background-color: $flag-red;
        color: $bright-snow;
      }
    }
  }

  .add {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.5em;
    justify-content: center;

    width: 100%;
    padding: 0.5em;
    svg {
      width: 1.5em;
    }
    &:hover {
      background-color: $gunmetal;
    }
    &:active {
      background-color: $iron-grey;
    }
  }
}
