header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}
nav {
  display: flex;
  align-items: center;
  border: 1px solid;
}

.menu-item {
  padding: 0.5em;
  text-align: center;
  border: 1px solid;
}
