header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-item {
  padding: 0.5em;
}

.toolbar-container {
  display: flex;
  flex-wrap: wrap;
}

.toolbar-item {
  display: flex;
  flex-wrap: wrap;
}

.toolbar-item-icon {
  display: flex;
  flex-wrap: wrap;
  width: 2.5em;
  height: auto;
}
