/*--------------COLORS--------------- (coolors.co)*/

/*Blue Gradient*/
$alice-blue: #e3f2fdff;
$icy-blue: #bbdefbff;
$sky-blue: #90caf9ff;
$cool-sky: #64b5f6ff;
$cool-sky-2: #42a5f5ff;
$dodger-blue: #2196f3ff;
$brilliant-azure: #1e88e5ff;
$twitter-blue: #1976d2ff;
$ocean-deep: #1565c0ff;
$cobalt-blue: #0d47a1ff;

// Light Steel
$bright-snow: #f8f9faff;
$platinum: #e9ecefff;
$alabaster-grey: #dee2e6ff;
$pale-slate: #ced4daff;
$pale-slate-2: #adb5bdff;
$slate-grey: #6c757dff;
$iron-grey: #495057ff;
$gunmetal: #343a40ff;
$carbon-black: #212529ff;

// Cherry Blossom
$deep-crimson: #9c191bff;
$brick-red: #ac1c1eff;
$brick-red-2: #bd1f21ff;
$flag-red: #d02224ff;
$primary-scarlet: #dd2c2fff;
$lobster-pink: #e35053ff;
$lobster-pink-2: #e66063ff;
$light-coral: #ec8385ff;
$cherry-blossom: #f1a7a9ff;
$cotton-rose: #f6caccff;

// Green Harmony
$black-forest: #10451dff;
$dark-emerald: #155d27ff;
$turf-green: #1a7431ff;
$forest-green: #208b3aff;
$medium-jungle: #25a244ff;
$jade-green: #2dc653ff;
$malachite: #4ad66dff;
$light-green: #6ede8aff;
$celadon: #92e6a7ff;
$celadon-2: #b7efc5ff;

// Flaming Sunshine Burst
$sunbeam-yellow: #fff200ff;
$sunbeam-yellow-2: #ffe600ff;
$bright-gold: #ffd900ff;
$bright-amber: #ffcc00ff;
$amber-gold: #ffbf00ff;
$amber-flame: #ffb300ff;
$orange: #ffa600ff;
$amber-glow: #ff9900ff;
$dark-orange: #ff8c00ff;
$vivid-tangerine: #ff8000ff;
