@use "./variables" as *;

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: light-dark($carbon-black, $bright-snow);
  background-color: light-dark($bright-snow, $carbon-black);
}
