:root {
  font-family: "Arial";
  --dark-gray: #616161;
  --gray: #e0e0e0;
}

html,
body {
  height: 100%;
  margin: 0;
  color: var(--dark-gray);
  background: var(--gray);
}

.app-window-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.app-window {
  width: 55%;
  height: 75%;
  background: white;
}
